%p
	Draft Name: #{@draft.draft_name}
	Tieup: #{@draft.tieup.andand.sequence}
	Threading: #{@draft.threading.andand.sequence}
	Treadling: #{@draft.treadling.andand.sequence}

= render :partial => :draft_preview, :locals => {:draft => @draft, :threading_repeats => 2, :treadling_repeats => 3}